<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mfc.fastapp">

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CustomActionBarTheme">

        <!-- &lt;!&ndash;autolayout设计稿尺寸&ndash;&gt; -->
        <!-- <meta-data -->
        <!-- android:name="design_width" -->
        <!-- android:value="750" /> -->
        <!-- <meta-data -->
        <!-- android:name="design_height" -->
        <!-- android:value="1334" /> -->

        <activity android:name=".activitys.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".mainactivityAlias"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher2"
            android:label="Alias"
            android:targetActivity=".activitys.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity android:name=".activitys.ScreenInfoActivity" />
        <activity android:name=".activitys.RecyclerviewActivity" />
        <activity android:name=".activitys.BrvahActivity"></activity>
    </application>

</manifest>